.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
}
.dark-screen {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  background: black;
  pointer-events: none;
  transition: 0.76s;
  opacity: 0;
}
.job:hover ~ .dark-screen {
  visibility: visible;
  opacity: 0.6;
}

.job {
  background: lighten($primary-color, 5);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
  p,
  ul {
    font-size: 20px;
  }
}

.jobzoom {
  opacity: 1;
}
.jobzoom:hover {
  transform: scale(1.2);
  font-size: 22px;
  z-index: 10;
  background-color: #b6adac;
  transition: 1s ease-in;

  p,
  h3 {
    color: black;
  }
  h4 {
    color: #333333 !important;
  }
}

.h3-custom {
  font-size: 25px;
}
